<a href="https://colab.research.google.com/github/KooMosu/Data-Analysis-with-Python/blob/main/DAY2_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#  서울시설공단 남산 혼잡통행료 데이터 분석 실습

이 노트북은 `서울시설공단_일별 남산 혼잡통행료 차종별 통행 데이터`를 기반으로  
실제 데이터를 분석하는 과정을 단계별로 실습하기 위한 자료입니다.

## 데이터 살펴보기

준비된 CSV 파일을 pandas의 read_csv() 함수를 이용하여 불러오세요.
파일 경로가 잘못되었거나 인코딩 오류가 발생할 수 있으므로 주의해서 작성하세요.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/모수/파이썬 교육/Day2/서울시설공단_차종별_교통량_데이터_및_기상데이터_01.csv')

### 데이터 미리보기  
데이터프레임의 상위 5개 행을 조회하여 데이터가 어떻게 구성되어 있는지 확인하세요.

In [ ]:
pd.set_option('display.max_columns', 100)

pd.set_option('display.max_rows', 100)

In [ ]:
df.head()

,날짜,합계,승용차,승합차,화물차,특수차,택시,버스,년,월,일,요일,혼잡도,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),최대 순간 풍속 풍향(16방위),최대 순간풍속 시각(hhmi),최대 풍속(m/s),최대 풍속 풍향(16방위),최대 풍속 시각(hhmi),평균 풍속(m/s),풍정합(100m),평균 이슬점온도(°C),최소 상대습도(%),최소 상대습도 시각(hhmi),평균 상대습도(%),평균 증기압(hPa),평균 현지기압(hPa),최고 해면기압(hPa),최고 해면기압 시각(hhmi),최저 해면기압(hPa),최저 해면기압 시각(hhmi),평균 해면기압(hPa),가조시간(hr),합계 일조시간(hr),1시간 최다일사 시각(hhmi),1시간 최다일사량(MJ/m2),합계 일사량(MJ/m2),일 최심신적설(cm),일 최심신적설 시각(hhmi),일 최심적설(cm),일 최심적설 시각(hhmi),합계 3시간 신적설(cm),평균 전운량(1/10),평균 중하층운량(1/10),평균 지면온도(°C),최저 초상온도(°C),평균 5cm 지중온도(°C),평균 10cm 지중온도(°C),평균 20cm 지중온도(°C),평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,2023-01-02,66623,43647,2930,6497,125,8603,4553,2023,1,2,Monday,보통,108,2023-01-02,-4.5,-7.4,804,-0.4,1525,NaN,NaN,NaN,NaN,NaN,NaN,7.4,250.0,1501.0,4.4,290.0,1307.0,2.5,2176.0,-14.6,32,1543,45.9,2.0,1021.0,1034.0,1005,1030.3,1521,1032.2,9.6,9.1,1200.0,1.99,11.63,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-4.2,-13.4,-0.9,-1.0,-0.5,0.6,2.7,6.2,9.9,15.8,17.9,1.3,1.9,NaN,NaN
1,2023-01-03,71443,46368,2731,7167,127,9989,4781,2023,1,3,Tuesday,혼잡,108,2023-01-03,-5.0,-9.0,551,0.6,1555,NaN,NaN,NaN,NaN,NaN,NaN,6.7,290.0,1459.0,3.9,320.0,1304.0,1.8,1542.0,-14.6,27,1416,49.0,2.0,1019.5,1032.1,306,1028.7,1500,1030.7,9.7,9.1,1200.0,2.00,11.77,NaN,NaN,NaN,NaN,NaN,0.0,0.0,-4.8,-16.4,-1.5,-1.5,-0.8,0.5,2.6,6.1,9.8,15.7,17.9,1.3,1.9,NaN,NaN
2,2023-01-04,71223,47309,3168,6984,118,9080,4268,2023,1,4,Wednesday,혼잡,108,2023-01-04,-1.8,-5.7,229,3.3,1510,NaN,NaN,NaN,NaN,NaN,NaN,7.2,320.0,1256.0,4.2,290.0,1238.0,1.9,1644.0,-10.7,34,1517,51.4,2.7,1019.5,1031.5,1014,1029.5,1459,1030.5,9.7,8.7,1200.0,1.91,10.89,NaN,NaN,NaN,NaN,NaN,1.9,1.9,-2.9,-13.9,-1.1,-1.2,-0.8,0.3,2.5,6.0,9.7,15.6,17.9,1.5,2.1,NaN,NaN
3,2023-01-05,72536,47559,2928,6895,147,10094,4622,2023,1,5,Thursday,혼잡,108,2023-01-05,-1.6,-5.6,749,3.6,1536,NaN,NaN,NaN,NaN,NaN,NaN,5.6,230.0,1553.0,3.2,200.0,1558.0,1.6,1386.0,-8.9,39,1554,58.1,3.1,1019.6,1032.3,945,1029.2,2059,1030.6,9.7,4.7,1100.0,1.06,6.09,NaN,NaN,NaN,NaN,NaN,3.6,1.6,-3.3,-12.5,-1.0,-1.1,-0.8,0.2,2.4,5.9,9.5,15.5,17.8,0.9,1.2,NaN,NaN
4,2023-01-06,71983,47752,2842,6787,115,9562,4639,2023,1,6,Friday,혼잡,108,2023-01-06,0.6,-4.7,816,5.7,1414,4.78,NaN,NaN,NaN,NaN,3.9,6.9,70.0,1918.0,4.1,50.0,1923.0,2.2,1884.0,-4.1,48,1406,71.9,4.6,1011.1,1029.6,1,1014.3,2327,1021.9,9.7,7.1,1100.0,1.66,8.78,3.6,2320.0,3.6,2320.0,3.7,5.8,3.4,-1.7,-11.0,-0.8,-1.0,-0.8,0.2,2.3,5.7,9.4,15.4,17.8,1.0,1.4,4.0,NaN

### 데이터 구조 및 컬럼 정보 확인  
전체 행 수, 열 수, 컬럼명, 각 컬럼의 데이터 타입 등을 확인하세요.  
이를 통해 데이터의 기본 구조와 각 변수의 형식을 파악할 수 있습니다.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 72 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   날짜                   226 non-null    object
 1   합계                   226 non-null    int64
 2   승용차                  226 non-null    int64
 3   승합차                  226 non-null    int64
 4   화물차                  226 non-null    int64
 5   특수차                  226 non-null    int64
 6   택시                   226 non-null    int64
 7   버스                   226 non-null    int64
 8   년                    226 non-null    int64
 9   월                    226 non-null    int64
 10  일                    226 non-null    int64
 11  요일                   226 non-null    object
 12  혼잡도                  226 non-null    object
 13  지점                   226 non-null    int64
 14  일시                   226 non-null    object
 15  평균기온(°C)             226 non-null    float64
 16  최저기온(°C)             226 non-null    float64
 17  최저기온 시각(hhmi)        226 non-null    int64
 18  최고기온(°C)             226 non-null    float64
 19  최고기온 시각(hhmi)        226 non-null    int64
 20  강수 계속시간(hr)          95 non-null     float64
 21  10분 최다 강수량(mm)       63 non-null     float64
 22  10분 최다강수량 시각(hhmi)   44 non-null     float64
 23  1시간 최다강수량(mm)        63 non-null     float64
 24  1시간 최다 강수량 시각(hhmi)  44 non-null     float64
 25  일강수량(mm)             96 non-null     float64
 26  최대 순간 풍속(m/s)        225 non-null    float64
 27  최대 순간 풍속 풍향(16방위)    225 non-null    float64
 28  최대 순간풍속 시각(hhmi)     225 non-null    float64
 29  최대 풍속(m/s)           225 non-null    float64
 30  최대 풍속 풍향(16방위)       225 non-null    float64
 31  최대 풍속 시각(hhmi)       225 non-null    float64
 32  평균 풍속(m/s)           225 non-null    float64
 33  풍정합(100m)            225 non-null    float64
 34  평균 이슬점온도(°C)         226 non-null    float64
 35  최소 상대습도(%)           226 non-null    int64
 36  최소 상대습도 시각(hhmi)     226 non-null    int64
 37  평균 상대습도(%)           226 non-null    float64
 38  평균 증기압(hPa)          226 non-null    float64
 39  평균 현지기압(hPa)         226 non-null    float64
 40  최고 해면기압(hPa)         226 non-null    float64
 41  최고 해면기압 시각(hhmi)     226 non-null    int64
 42  최저 해면기압(hPa)         226 non-null    float64
 43  최저 해면기압 시각(hhmi)     226 non-null    int64
 44  평균 해면기압(hPa)         226 non-null    float64
 45  가조시간(hr)             226 non-null    float64
 46  합계 일조시간(hr)          226 non-null    float64
 47  1시간 최다일사 시각(hhmi)    226 non-null    float64
 48  1시간 최다일사량(MJ/m2)     226 non-null    float64
 49  합계 일사량(MJ/m2)        226 non-null    float64
 50  일 최심신적설(cm)          4 non-null      float64
 51  일 최심신적설 시각(hhmi)     4 non-null      float64
 52  일 최심적설(cm)           8 non-null      float64
 53  일 최심적설 시각(hhmi)      8 non-null      float64
 54  합계 3시간 신적설(cm)       4 non-null      float64
 55  평균 전운량(1/10)         226 non-null    float64
 56  평균 중하층운량(1/10)       226 non-null    float64
 57  평균 지면온도(°C)          226 non-null    float64
 58  최저 초상온도(°C)          226 non-null    float64
 59  평균 5cm 지중온도(°C)      226 non-null    float64
 60  평균 10cm 지중온도(°C)     226 non-null    float64
 61  평균 20cm 지중온도(°C)     226 non-null    float64
 62  평균 30cm 지중온도(°C)     226 non-null    float64
 63  0.5m 지중온도(°C)        225 non-null    float64
 64  1.0m 지중온도(°C)        225 non-null    float64
 65  1.5m 지중온도(°C)        225 non-null    float64
 66  3.0m 지중온도(°C)        226 non-null    float64
 67  5.0m 지중온도(°C)        226 non-null    float64
 68  합계 대형증발량(mm)         225 non-null    float64
 69  합계 소형증발량(mm)         225 non-null    float64
 70  9-9강수(mm)            94 non-null     float64
 71  안개 계속시간(hr)          4 non-null      float64
dtypes: float64(51), int64(17), object(4)
memory usage: 127.3+ KB

## 데이터 변환하기

### '일시' 컬럼 삭제  
데이터프레임에 '일시'라는 이름의 컬럼이 존재한다면 해당 컬럼을 삭제하세요.  
분석에 필요 없는 불필요한 열은 미리 제거하는 것이 좋습니다.

In [ ]:
df=df.drop(["일시"],axis=1)

KeyError: "['일시'] not found in axis"

## 데이터 정제하기

### 결측치 확인  
각 컬럼별 결측치(null 또는 NaN)가 몇 개인지 확인하세요.  
결측치가 많은 컬럼은 분석에 영향을 줄 수 있으므로 사전에 파악하는 것이 중요합니다.

In [ ]:
df.isnull().sum()

날짜                       0
합계                       0
승용차                      0
승합차                      0
화물차                      0
특수차                      0
택시                       0
버스                       0
년                        0
월                        0
일                        0
요일                       0
혼잡도                      0
지점                       0
평균기온(°C)                 0
최저기온(°C)                 0
최저기온 시각(hhmi)            0
최고기온(°C)                 0
최고기온 시각(hhmi)            0
강수 계속시간(hr)            131
10분 최다 강수량(mm)         163
10분 최다강수량 시각(hhmi)     182
1시간 최다강수량(mm)          163
1시간 최다 강수량 시각(hhmi)    182
일강수량(mm)               130
최대 순간 풍속(m/s)            1
최대 순간 풍속 풍향(16방위)        1
최대 순간풍속 시각(hhmi)         1
최대 풍속(m/s)               1
최대 풍속 풍향(16방위)           1
최대 풍속 시각(hhmi)           1
평균 풍속(m/s)               1
풍정합(100m)                1
평균 이슬점온도(°C)             0
최소 상대습도(%)               0
최소 상대습도 시각(hhmi)         0
평균 상대습도(%)               0
평균 증기압(hPa)              0
평균 현지기압(hPa)             0
최고 해면기압(hPa)             0
최고 해면기압 시각(hhmi)         0
최저 해면기압(hPa)             0
최저 해면기압 시각(hhmi)         0
평균 해면기압(hPa)             0
가조시간(hr)                 0
합계 일조시간(hr)              0
1시간 최다일사 시각(hhmi)        0
1시간 최다일사량(MJ/m2)         0
합계 일사량(MJ/m2)            0
일 최심신적설(cm)            222
일 최심신적설 시각(hhmi)       222
일 최심적설(cm)             218
일 최심적설 시각(hhmi)        218
합계 3시간 신적설(cm)         222
평균 전운량(1/10)             0
평균 중하층운량(1/10)           0
평균 지면온도(°C)              0
최저 초상온도(°C)              0
평균 5cm 지중온도(°C)          0
평균 10cm 지중온도(°C)         0
평균 20cm 지중온도(°C)         0
평균 30cm 지중온도(°C)         0
0.5m 지중온도(°C)            1
1.0m 지중온도(°C)            1
1.5m 지중온도(°C)            1
3.0m 지중온도(°C)            0
5.0m 지중온도(°C)            0
합계 대형증발량(mm)             1
합계 소형증발량(mm)             1
9-9강수(mm)              132
안개 계속시간(hr)            222
dtype: int64

### 결측치가 50% 이상인 컬럼 삭제  
전체 데이터 행의 50% 이상이 결측치인 컬럼은 삭제하세요.  
너무 많은 결측치가 있는 변수는 분석에서 제외하는 것이 일반적입니다.

In [ ]:
threshold = len(df) * 0.5
df = df.loc[:, df.isnull().sum() < threshold]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 58 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   날짜                 226 non-null    object
 1   합계                 226 non-null    int64
 2   승용차                226 non-null    int64
 3   승합차                226 non-null    int64
 4   화물차                226 non-null    int64
 5   특수차                226 non-null    int64
 6   택시                 226 non-null    int64
 7   버스                 226 non-null    int64
 8   년                  226 non-null    int64
 9   월                  226 non-null    int64
 10  일                  226 non-null    int64
 11  요일                 226 non-null    object
 12  혼잡도                226 non-null    object
 13  지점                 226 non-null    int64
 14  평균기온(°C)           226 non-null    float64
 15  최저기온(°C)           226 non-null    float64
 16  최저기온 시각(hhmi)      226 non-null    int64
 17  최고기온(°C)           226 non-null    float64
 18  최고기온 시각(hhmi)      226 non-null    int64
 19  최대 순간 풍속(m/s)      225 non-null    float64
 20  최대 순간 풍속 풍향(16방위)  225 non-null    float64
 21  최대 순간풍속 시각(hhmi)   225 non-null    float64
 22  최대 풍속(m/s)         225 non-null    float64
 23  최대 풍속 풍향(16방위)     225 non-null    float64
 24  최대 풍속 시각(hhmi)     225 non-null    float64
 25  평균 풍속(m/s)         225 non-null    float64
 26  풍정합(100m)          225 non-null    float64
 27  평균 이슬점온도(°C)       226 non-null    float64
 28  최소 상대습도(%)         226 non-null    int64
 29  최소 상대습도 시각(hhmi)   226 non-null    int64
 30  평균 상대습도(%)         226 non-null    float64
 31  평균 증기압(hPa)        226 non-null    float64
 32  평균 현지기압(hPa)       226 non-null    float64
 33  최고 해면기압(hPa)       226 non-null    float64
 34  최고 해면기압 시각(hhmi)   226 non-null    int64
 35  최저 해면기압(hPa)       226 non-null    float64
 36  최저 해면기압 시각(hhmi)   226 non-null    int64
 37  평균 해면기압(hPa)       226 non-null    float64
 38  가조시간(hr)           226 non-null    float64
 39  합계 일조시간(hr)        226 non-null    float64
 40  1시간 최다일사 시각(hhmi)  226 non-null    float64
 41  1시간 최다일사량(MJ/m2)   226 non-null    float64
 42  합계 일사량(MJ/m2)      226 non-null    float64
 43  평균 전운량(1/10)       226 non-null    float64
 44  평균 중하층운량(1/10)     226 non-null    float64
 45  평균 지면온도(°C)        226 non-null    float64
 46  최저 초상온도(°C)        226 non-null    float64
 47  평균 5cm 지중온도(°C)    226 non-null    float64
 48  평균 10cm 지중온도(°C)   226 non-null    float64
 49  평균 20cm 지중온도(°C)   226 non-null    float64
 50  평균 30cm 지중온도(°C)   226 non-null    float64
 51  0.5m 지중온도(°C)      225 non-null    float64
 52  1.0m 지중온도(°C)      225 non-null    float64
 53  1.5m 지중온도(°C)      225 non-null    float64
 54  3.0m 지중온도(°C)      226 non-null    float64
 55  5.0m 지중온도(°C)      226 non-null    float64
 56  합계 대형증발량(mm)       225 non-null    float64
 57  합계 소형증발량(mm)       225 non-null    float64
dtypes: float64(38), int64(17), object(3)
memory usage: 102.5+ KB

### 데이터 프레임 필터링

전체 데이터프레임 중 앞쪽 18개 열만 선택하여 사용합니다.
iloc을 사용하여 열의 위치 인덱스 기준(0-based)으로 슬라이싱하며,
df.iloc[:, :18]은 0번째부터 17번째 열까지를 포함합니다. 이후 불필요한 열을 제거하고, 분석에 필요한 주요 컬럼들만 남기는 전처리 단계입니다.

In [ ]:
df = df.iloc[:,:18] #전체 행은 유지하고, 앞에서부터 18개의 열만 필터링

In [ ]:
df.head()

,날짜,합계,승용차,승합차,화물차,특수차,택시,버스,년,월,일,요일,혼잡도,지점,평균기온(°C),최저기온(°C),최고기온(°C)
0,2023-01-02,66623,43647,2930,6497,125,8603,4553,2023,1,2,Monday,보통,108,-4.5,-7.4,-0.4
1,2023-01-03,71443,46368,2731,7167,127,9989,4781,2023,1,3,Tuesday,혼잡,108,-5.0,-9.0,0.6
2,2023-01-04,71223,47309,3168,6984,118,9080,4268,2023,1,4,Wednesday,혼잡,108,-1.8,-5.7,3.3
3,2023-01-05,72536,47559,2928,6895,147,10094,4622,2023,1,5,Thursday,혼잡,108,-1.6,-5.6,3.6
4,2023-01-06,71983,47752,2842,6787,115,9562,4639,2023,1,6,Friday,혼잡,108,0.6,-4.7,5.7

"최저기온 시각(hhmi) 컬름을 삭제하세요.

In [ ]:
df = df.drop(["최저기온 시각(hhmi)"],axis=1)

KeyError: "['최저기온 시각(hhmi)'] not found in axis"

In [ ]:
df.head()

,날짜,합계,승용차,승합차,화물차,특수차,택시,버스,년,월,일,요일,혼잡도,지점,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C)
0,2023-01-02,66623,43647,2930,6497,125,8603,4553,2023,1,2,Monday,보통,108,-4.5,-7.4,804,-0.4
1,2023-01-03,71443,46368,2731,7167,127,9989,4781,2023,1,3,Tuesday,혼잡,108,-5.0,-9.0,551,0.6
2,2023-01-04,71223,47309,3168,6984,118,9080,4268,2023,1,4,Wednesday,혼잡,108,-1.8,-5.7,229,3.3
3,2023-01-05,72536,47559,2928,6895,147,10094,4622,2023,1,5,Thursday,혼잡,108,-1.6,-5.6,749,3.6
4,2023-01-06,71983,47752,2842,6787,115,9562,4639,2023,1,6,Friday,혼잡,108,0.6,-4.7,816,5.7

데이터프레임의 열 이름 중 "평균기온(°C)", "최저기온(°C)", "최고기온(°C)"에 포함된 단위를 제거하고 각각 "평균기온", "최저기온", "최고기온"으로 간결하게 수정합니다.
이는 열 이름을 코드로 다룰 때 가독성을 높이고, 문자열 처리의 불편함을 줄이기 위한 전처리 작업입니다.

In [ ]:
df=df.rename(columns={"평균기온(°C)":"평균기온", "최저기온(°C)":"최저기온", "최고기온(°C)":"최고기온"}

SyntaxError: incomplete input (<ipython-input-18-02ef9f372354>, line 1)

In [ ]:
df.head()

### Map함수로 데이터 변환하기

Pandas의 map() 함수는 **Series(열)**에 있는 값들을 함수나 딕셔너리로 변환할 때 사용합니다.
주로 값을 바꾸거나 등급 매기기, 한글 변환, 조건 분류 등에 활용됩니다.

In [ ]:
week = {"Monday":"월","Tuesday":"화","Wednesday":"수","Thursday":"목","Friday":"금"}

In [ ]:
df["요일"] = df["요일"].map(week)

In [ ]:
df.head()

## 데이터 요약 및 통계

### 전체 통행량의 평균, 최솟값, 최댓값, 중앙값 구하기
전체 차량 통행량(승용차)의 평균, 최소값, 최대값, 중앙값을 각각 구하세요.

In [ ]:
df["승용차"].mean()

np.float64(46487.87610619469)

In [ ]:
df["승용차"].min()

24128

In [ ]:
df["승용차"].max()

51371

In [ ]:
df["승용차"].median()

48590.5

### **Groupby** 월별 전체 통행량 평균 구하기
'월' 컬럼을 기준으로 전체 차량 통행량('합계')의 평균을 구하세요.

In [ ]:
df.groupby("월")["합계"].mean()

월
1     72088.900000
2     74541.700000
3     56639.090909
4     37882.900000
5     74024.500000
6     73994.380952
7     72803.428571
8     72756.000000
9     74057.052632
10    74638.210526
11    74194.000000
12    73691.950000
Name: 합계, dtype: float64

'월','혼잡도'로 그룹화를 하고 전체 차량 통행량('합계')의 평균을 구하세요.

In [ ]:
df.groupby(["월","혼잡도"])["합계"].mean()

월   혼잡도
1   보통     65876.666667
    혼잡     73185.176471
2   혼잡     74541.700000
3   원활     38342.818182
    혼잡     74935.363636
4   원활     37882.900000
5   혼잡     74024.500000
6   혼잡     73994.380952
7   보통     69239.666667
    혼잡     73397.388889
8   보통     63829.000000
    혼잡     73181.095238
9   보통     67363.000000
    혼잡     74428.944444
10  보통     69991.000000
    혼잡     74896.388889
11  혼잡     74194.000000
12  보통     69890.000000
    혼잡     73892.052632
Name: 합계, dtype: float64

In [ ]:
df.groupby(['월','혼잡도']).mean(numeric_only=True)

                  합계           승용차          승합차          화물차         특수차  \
월  혼잡도
1  보통   65876.666667  43169.666667  2864.666667  6302.333333  135.666667
   혼잡   73185.176471  48593.000000  3000.882353  6998.235294  130.000000
2  혼잡   74541.700000  49516.450000  3106.600000  7011.500000  132.300000
3  원활   38342.818182  25405.000000  1583.909091  3530.363636   63.181818
   혼잡   74935.363636  49449.636364  3175.181818  6991.363636  133.272727
4  원활   37882.900000  25109.900000  1598.900000  3472.300000   62.700000
5  혼잡   74024.500000  48339.500000  3183.200000  6785.400000  152.200000
6  혼잡   73994.380952  48664.904762  3177.761905  6727.761905  125.809524
7  보통   69239.666667  46367.333333  3338.666667  6181.000000  105.666667
   혼잡   73397.388889  48756.555556  3085.111111  6622.444444  129.222222
8  보통   63829.000000  42621.000000  2896.000000  5710.000000  111.000000
   혼잡   73181.095238  48954.523810  2979.000000  6556.380952  125.333333
9  보통   67363.000000  46380.000000  3387.000000  6759.000000  137.000000
   혼잡   74428.944444  49118.833333  3241.500000  7051.333333  131.444444
10 보통   69991.000000  45373.000000  2616.000000  6805.000000  138.000000
   혼잡   74896.388889  48693.833333  3325.666667  6967.777778  141.888889
11 혼잡   74194.000000  48721.772727  3277.409091  6868.000000  139.045455
12 보통   69890.000000  46026.000000  3091.000000  6647.000000  121.000000
   혼잡   73892.052632  48569.000000  3122.000000  6974.684211  146.105263

                  택시           버스       년          일     지점   평균기온(°C)  \
월  혼잡도
1  보통    8040.666667  4658.000000  2023.0  17.666667  108.0  -7.266667
   혼잡    9610.000000  4507.117647  2023.0  14.764706  108.0  -0.352941
2  혼잡    9815.400000  4588.950000  2023.0  14.300000  108.0   2.215000
3  원활    5191.454545  2431.636364  2023.0  24.727273  108.0  12.109091
   혼잡   10241.090909  4646.909091  2023.0   9.363636  108.0   8.118182
4  원활    5014.100000  2482.900000  2023.0   8.500000  108.0  13.070000
5  혼잡   10010.300000  5109.900000  2023.0  23.500000  108.0  21.780000
6  혼잡   10116.571429  4777.190476  2023.0  16.523810  108.0  23.195238
7  보통    8106.666667  4732.333333  2023.0  12.666667  108.0  24.433333
   혼잡    9764.888889  4559.611111  2023.0  16.833333  108.0  27.222222
8  보통    7612.000000  4539.000000  2023.0  10.000000  108.0  22.200000
   혼잡    9538.428571  4536.619048  2023.0  16.333333  108.0  27.223810
9  보통    6340.000000  3990.000000  2023.0  26.000000  108.0  19.900000
   혼잡    9624.500000  4697.111111  2023.0  13.777778  108.0  23.977778
10 보통    9304.000000  5258.000000  2023.0   4.000000  108.0  17.300000
   혼잡   10177.055556  5040.888889  2023.0  18.500000  108.0  15.783333
11 혼잡    9967.772727  4746.545455  2023.0  15.681818  108.0   7.140909
12 보통    9222.000000  4519.000000  2023.0  29.000000  108.0   1.300000
   혼잡    9964.210526  4585.578947  2023.0  14.578947  108.0   1.384211

         최저기온(°C)  최저기온 시각(hhmi)   최고기온(°C)
월  혼잡도
1  보통  -11.233333     483.333333  -3.100000
   혼잡   -4.547059     897.294118   4.482353
2  혼잡   -1.925000    1154.750000   7.280000
3  원활    5.554545     782.909091  19.427273
   혼잡    2.827273     910.181818  13.845455
4  원활    8.190000    1404.700000  17.820000
5  혼잡   16.970000     693.900000  27.550000
6  혼잡   19.985714     732.571429  27.228571
7  보통   23.400000    1051.333333  25.833333
   혼잡   23.938889     662.722222  31.150000
8  보통   20.900000    1954.000000  25.100000
   혼잡   24.361905     950.285714  30.833333
9  보통   18.600000     510.000000  20.800000
   혼잡   20.583333     895.055556  27.916667
10 보통   14.200000     647.000000  23.200000
   혼잡   11.372222    1100.666667  20.916667
11 혼잡    3.195455    1431.136364  11.886364
12 보통   -1.500000     725.000000   4.600000
   혼잡   -2.300000     990.894737   5.457895

### 요일별 차량 종류별 평균 통행량 구하기
요일을 기준으로 승용차, 버스, 택시의 평균을 구하세요.

In [ ]:
df.groupby('요일')[['승용차', '버스', '택시']].mean()

                    승용차           버스           택시
요일
Friday     46346.638298  4492.319149  9532.978723
Monday     46089.690476  4440.333333  8811.119048
Thursday   46604.659574  4549.702128  9659.106383
Tuesday    46574.186047  4395.697674  9389.627907
Wednesday  46789.191489  4525.148936  9325.808511

### **Describe** 데이터프레임 전체 통계 요약 정보 구하기

In [ ]:
df.describe()

,합계,승용차,승합차,화물차,특수차,택시,버스,년,월,일,지점,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C)
count,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.000000,226.0,226.000000,226.000000,226.0,226.000000,226.000000,226.000000,226.000000
mean,70409.066372,46487.876106,3001.646018,6526.623894,127.221239,9354.699115,4483.035398,2023.0,6.672566,15.876106,108.0,14.023894,10.091593,973.022124,18.617699
std,10557.571563,6943.370561,525.705518,1011.916051,26.061887,1583.734304,711.183507,0.0,3.540100,8.694962,0.0,10.917800,11.325584,761.580243,10.753465
min,36783.000000,24128.000000,1244.000000,3094.000000,53.000000,4016.000000,2111.000000,2023.0,1.000000,1.000000,108.0,-11.700000,-17.300000,1.000000,-8.000000
25%,72011.750000,47733.500000,2895.000000,6575.250000,118.500000,9178.500000,4409.250000,2023.0,3.000000,8.000000,108.0,4.450000,-0.550000,534.000000,9.200000
50%,73653.000000,48590.500000,3095.500000,6837.500000,131.000000,9764.000000,4629.500000,2023.0,7.000000,16.000000,108.0,15.550000,10.300000,641.500000,21.150000
75%,75180.750000,49522.250000,3285.750000,7035.250000,143.000000,10297.000000,4838.000000,2023.0,10.000000,23.000000,108.0,23.850000,20.875000,815.750000,27.475000
max,77866.000000,51371.000000,4179.000000,7500.000000,199.000000,11374.000000,5577.000000,2023.0,12.000000,31.000000,108.0,30.900000,27.300000,2400.000000,35.800000

### 차량별 통계 요약 정보 구하기
승용차, 승합차, 화물차, 택시, 버스에 대해 요약 통계(describe)를 출력하세요.

In [ ]:
df[['승용차', '승합차', '화물차', '택시', '버스']].describe()

                승용차          승합차          화물차            택시           버스
count    226.000000   226.000000   226.000000    226.000000   226.000000
mean   46487.876106  3001.646018  6526.623894   9354.699115  4483.035398
std     6943.370561   525.705518  1011.916051   1583.734304   711.183507
min    24128.000000  1244.000000  3094.000000   4016.000000  2111.000000
25%    47733.500000  2895.000000  6575.250000   9178.500000  4409.250000
50%    48590.500000  3095.500000  6837.500000   9764.000000  4629.500000
75%    49522.250000  3285.750000  7035.250000  10297.000000  4838.000000
max    51371.000000  4179.000000  7500.000000  11374.000000  5577.000000